/** Button
* @since ProLooks 3
* --------------------------------------------- */

/**
 * Default, but not variantions
 */
.wp-block-button:not([class*="is-style-"]) > .wp-block-button__link,
.wp-block-button.is-style-fill > .wp-block-button__link {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.wp-element-button,
.wp-block-button__link {
  transition: all 0.1s ease-in-out;

  /* remove the flashing from currentColor */
  outline-color: var(--wp--preset--color--brand-light-default);
  &:hover {
    background-color: var(--wp--preset--color--brand-dark-lighter) !important;
  }
}

/**
 * Variations
 */
.is-style-outline a:hover {
  background-color: red !important;
}

.is-style-button-border .wp-block-button__link {
  box-sizing: border-box;
  color: var(--wp--preset--color--brand-dark-default) !important;
  background-color: var(--wp--preset--color--brand-light-lightest) !important;
  box-shadow: inset 0px 0px 0px 1px;

  &:hover {
    background-color: var(--wp--preset--color--brand-light-lighter) !important;
  }
}

.is-style-button-ghost .wp-block-button__link {
  box-sizing: border-box;
  color: var(--wp--preset--color--brand-dark-default) !important;
  background-color: transparent !important;
  text-decoration: underline;

  &:hover {
    background-color: var(--wp--preset--color--light-default) !important;
  }
}
