/* Page List
* @since ProLooks 3
--------------------------------------------- */

/**
 * Variations
 */
ul.is-style-page-list-plain {
  list-style: none;
  padding-inline-start: 0px;
  & a {
    color: var(--wp--preset--color--dark-default);
  }
  & a:hover {
    color: var(--wp--preset--color--brand-dark-darker);
  }
  & li {
    padding-inline-start: 0px;
  }
}
