/* List
* @since ProLooks 3
--------------------------------------------- */

/**
* Default
*/
ul {
  box-sizing: content-box;
}

/**
 * Variations
 */
ul.is-style-list-checkmark {
  list-style-type: "\2713";
  padding-inline-start: 2em;

  & li {
    padding-inline-start: 1ch;
  }
}

ul.is-style-list-crossmark {
  list-style-type: "\2717";
  padding-inline-start: 2em;
  & li {
    padding-inline-start: 1ch;
  }
}

ul.is-style-list-square {
  padding-inline-start: 2em;
  list-style: none;
  & li {
    padding-inline-start: 1ch;
  }
  & li::before {
    font-size: 0.6em;
    vertical-align: 0.3em;
    content: "\25AA";
    color: var(--wp--preset--color--brand-dark-default);
    display: inline-block;
    width: 3ex;
    margin-left: -3ex;
  }
}
