/* Button
--------------------------------------------- */

.is-style-button-secondary {
  & .wp-element-button {
    background-color: var(--wp--custom--color--primary-50) !important;
    color: var(--wp--custom--color--primary-120) !important;
    border-bottom-color: var(--wp--custom--color--primary-60) !important;
    &:hover {
      background-color: var(--wp--custom--color--primary-60) !important;
    }
  }
}
