/*
** Query Pagination Numbers
*/

.wp-block-query-pagination-numbers .page-numbers {
  padding: 0.5em 1em;
  border-radius: var(--wp--custom--border-radius--sm);
  background-color: var(--wp--custom--color--neutral-30);
  &:hover {
    background-color: var(--wp--custom--color--neutral-50);
    text-decoration: none;
  }
  &.current {
    color: var(--wp--preset--color--text-subtle);
    background-color: var(--wp--custom--color--neutral-20);
    &:hover {
      background-color: var(--wp--custom--color--neutral-30);
      text-decoration: none;
    }
  }
}
