<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"primary-10","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-primary-10-background-color has-background" style="margin-top:0;margin-bottom:0"><!-- wp:group {"style":{"border":{"radius":"6px"},"dimensions":{"minHeight":"75vh"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch","verticalAlignment":"center"}} -->
<div class="wp-block-group is-style-default" style="border-radius:6px;min-height:75vh"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|sm"}},"className":"is-style-default","layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group is-style-default"><!-- wp:heading {"textAlign":"center","level":1,"style":{"typography":{"lineHeight":"1","fontStyle":"normal","fontWeight":"400"},"spacing":{"padding":{"top":"var:preset|spacing|24","bottom":"var:preset|spacing|24"}}},"className":"is-style-default","fontSize":"display-xl"} -->
<h1 class="wp-block-heading has-text-align-center is-style-default has-display-xl-font-size" style="padding-top:var(--wp--preset--spacing--24);padding-bottom:var(--wp--preset--spacing--24);font-style:normal;font-weight:400;line-height:1"><strong>404</strong> <br>Not found</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">We can't seem to find the page you were looking for.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:search {"label":"Search","showLabel":false,"width":100,"widthUnit":"%","buttonText":"Search","style":{"layout":{"selfStretch":"fit","flexSize":null}},"className":"is-style-default"} /-->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="./">Back to Homepage</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->