<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|distant","bottom":"var:preset|spacing|relaxed"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"dark-contrast","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-dark-contrast-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--distant);padding-bottom:var(--wp--preset--spacing--relaxed)"><!-- wp:post-featured-image {"height":"250px"} /-->

<!-- wp:post-title {"level":1} /-->

<!-- wp:spacer {"height":"var:preset|spacing|tight"} -->
<div style="height:var(--wp--preset--spacing--tight)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"50%"}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"},"typography":{"lineHeight":"1.4"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group" style="line-height:1.4"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|tight"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">by</p>
<!-- /wp:paragraph -->

<!-- wp:post-author-name {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-lighter"}}}},"textColor":"dark-lighter"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|tight"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:post-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-lighter"}}}},"textColor":"dark-lighter"} /-->

<!-- wp:paragraph -->
<p>·</p>
<!-- /wp:paragraph -->

<!-- wp:post-time-to-read {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-lighter"}}}},"textColor":"dark-lighter"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|relaxed"} -->
<div style="height:var(--wp--preset--spacing--relaxed)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|distant"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="padding-bottom:var(--wp--preset--spacing--distant)"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:separator {"backgroundColor":"light-default"} -->
<hr class="wp-block-separator has-text-color has-light-default-color has-alpha-channel-opacity has-light-default-background-color has-background"/>
<!-- /wp:separator -->

<!-- wp:group {"metadata":{"name":"Group: Styling"},"style":{"spacing":{"blockGap":"0.75em"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:post-date {"displayType":"modified"} /-->

<!-- wp:post-terms {"term":"category","prefix":"Categories: ","style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-post-terms-label"} /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"Tags: ","style":{"layout":{"selfStretch":"fill","flexSize":null}},"className":"is-style-post-terms-label"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:comments {"align":"full","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|distant"}}}} -->
<div class="wp-block-comments alignfull" style="margin-bottom:var(--wp--preset--spacing--distant)"><!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|expansive","bottom":"var:preset|spacing|expansive"}}},"backgroundColor":"dark-contrast","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-dark-contrast-background-color has-background" style="padding-top:var(--wp--preset--spacing--expansive);padding-bottom:var(--wp--preset--spacing--expansive)"><!-- wp:comments-title {"showPostTitle":false,"fontSize":"x-large"} /-->

<!-- wp:comment-template -->
<!-- wp:columns {"style":{"spacing":{"padding":{"top":"var:preset|spacing|relaxed","bottom":"var:preset|spacing|relaxed","left":"var:preset|spacing|default","right":"var:preset|spacing|relaxed"}}},"backgroundColor":"light-lightest"} -->
<div class="wp-block-columns has-light-lightest-background-color has-background" style="padding-top:var(--wp--preset--spacing--relaxed);padding-right:var(--wp--preset--spacing--relaxed);padding-bottom:var(--wp--preset--spacing--relaxed);padding-left:var(--wp--preset--spacing--default)"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"isLink":true,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:comment-author-name {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-darker"}}}},"textColor":"dark-darker"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:comment-date {"style":{"elements":{"link":{"color":{"text":"var:preset|color|dark-lightest"}}}},"textColor":"dark-lightest","fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"stretch"}} -->
<div class="wp-block-group"><!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"textAlign":"right","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"center"}} -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:group --></div>
<!-- /wp:comments -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->