<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|distant","bottom":"var:preset|spacing|relaxed"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"dark-contrast","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-dark-contrast-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--distant);padding-bottom:var(--wp--preset--spacing--relaxed)"><!-- wp:heading -->
<h2 class="wp-block-heading">Welcome to your new theme!</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Thanks for using ProLooks!</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>In order to use ProLooks properly we have to go through some configurations. But don't worry, the steps are easy and I'll explain everything along the way.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>If you have any questions, feel free to reach out to me!</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>Hannes</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Get in touch: <a href="https://hannesleismann.com" target="_blank" rel="noreferrer noopener">https://hannesleismann.com</a> or <a href="https://studioleismann.com" target="_blank" rel="noreferrer noopener">https://studioleismann.com</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"backgroundColor":"brand-light-lighter"} -->
<p class="has-brand-light-lighter-background-color has-background">🚧 <strong>Work in Progress:</strong> This guide is under construction.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|distant","bottom":"var:preset|spacing|distant"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--distant);margin-bottom:var(--wp--preset--spacing--distant)"><!-- wp:heading -->
<h2 class="wp-block-heading">Let's get started!</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>ProLooks is build solely for the WordPress core editor.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><strong>Watch my free WordPress CodeEditor Masterclass!</strong></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->